.stock-container {
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}

.positive {
    color: #0F0;
}

.negative {
    color: #F00;
}


.large-change {
    font-size: 1.2em;
}

.small-change {
    font-size: 0.8em;
}